<div class="div-container-content-parent">
    <div class="div-container-content">
        <div class="post-container-parent">
            <div class="post-content-header">
                <h3 class="post-content-header-title">{{postCurrent.posts_title}}</h3>
                <h5 class="post-content-header-author">{{postCurrent.posts_users_username}}</h5>
                <h5 class="post-content-header-date">{{postCurrent.posts_date_created}}</h5>
            </div>
            <div class="post-container-body-media">
                <img class="post-content-body-media" src={{postCurrent.posts_path_file}} alt="some_image.png" />
            </div>
            <div class="post-content-body">
                <p class="">{{postCurrent.posts_description}}
                </p>
            </div>
        </div>
    </div>
</div>
