<div class="div-container-content-parent">
    <div class="div-container-content">
        <div class="post-container-parent">
            <div class="post-content-header">
                <h3 class="post-content-header-title">{{render_post_current.posts_title}}</h3>
                <a href="/user/{{render_post_current.users_username}}" class="username-link">
                    <h5 class="post-content-header-author">{{render_post_current.users_username}}</h5>
                </a>
                <h5 class="post-content-header-date">{{render_post_current.posts_date_created}}</h5>
            </div>
            <div class="post-container-body-media">
                <img class="post-content-body-media" src={{render_post_current.posts_path_file}} alt="some_image.png" />
            </div>
            <div class="post-content-body">
                <p class="">{{render_post_current.posts_description}}
                </p>
            </div>
            {{> comments}}
        </div>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', (event)=>{
        document.querySelectorAll('h5[class=post-content-header-date]').forEach((postedDate) =>{
            postedDate.textContent = new Date(postedDate.textContent).toLocaleDateString();
        });
    });
</script>